* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

a {
  text-decoration: none;
}

.header__top {
  background-color: #7AC751;
  justify-content: space-between;
}

.header__top-item {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__top-item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.header__top-item select {
  border: none;
  background-color: #7AC751;
  color: #fff;
}
.header__top-item select:focus {
  outline: none;
}
.header__top-item span {
  padding-right: 16px;
  padding-left: 16px;
}

.collection {
  padding-top: 64px;
  padding-bottom: 64px;
}

.collection__top-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collection__top-item .collection_toptext {
  padding-left: 16px;
}
.collection__top-item .collection_toptext h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #555555;
}
.collection__top-item .collection_toptext p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #555555;
  opacity: 0.7;
}

.collection__list {
  padding-top: 48px;
  justify-content: space-between;
}

.collection__item {
  width: 50%;
  position: relative;
}
.collection__item img {
  width: 530px;
}
.collection__item .collection__desc {
  position: absolute;
  top: 20px;
  left: 20px;
}
.collection__item h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #555555;
}
.collection__item p {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #7AC751;
}
.collection__item a {
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: #555555;
}
.collection__item a:hover {
  color: #7AC751;
}

.collection__relative-in {
  position: relative;
}
.collection__relative-in .collection__desc-in {
  position: absolute;
  top: 20px;
  left: 20px;
}

.trending {
  padding-top: 64px;
  padding-bottom: 64px;
}

.trending__nav {
  justify-content: space-evenly;
  padding-top: 48px;
}

.trending__nav-item a {
  text-decoration: none;
  color: #C2C2C2;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.trending__nav-item a:hover {
  color: #7AC751;
}

.trending__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #555555;
}

.trending__list {
  padding-top: 48px;
  justify-content: space-between;
}

.trending__item {
  position: relative;
  width: 25%;
  padding: 16px 0 !important;
  line-height: 1.5;
}
.trending__item img {
  width: 250px;
  height: 250px;
}
.trending__item h4 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(117, 117, 117, 0.71);
}
.trending__item p {
  font-weight: 400;
  font-size: 20px;
  color: #555555;
  font-family: "Rubik", sans-serif;
}
.trending__item .price-span {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #7AC751;
}
.trending__item .line__span {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #ccc;
}

.treding__new {
  position: absolute;
  top: 16px;
  left: 1px;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;
  text-align: center;
  background: #00B7F1;
  color: #fff;
  border-radius: 0px 0px 5px 0px;
}

.treding__sale {
  position: absolute;
  top: 16px;
  left: 1px;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;
  text-align: center;
  background: #7AC751;
  color: #fff;
  border-radius: 0px 0px 5px 0px;
}

.special {
  padding-top: 64px;
  padding-bottom: 64px;
}

.special__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #555555;
}

.special__list {
  padding-top: 48px;
  justify-content: space-between;
  padding-right: 48px;
}

.special__item {
  width: 520px;
  height: 240px;
  position: relative;
  line-height: 1.3;
}
.special__item img {
  width: 520px;
  height: 250px;
}
.special__item .special__present {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;
  text-align: center;
  background: #00B7F1;
  color: #fff;
  border-radius: 0px 0px 0px 5px;
}
.special__item .special__desc {
  position: absolute;
  width: 260px;
  top: 0;
  padding: 0 16px;
}
.special__item .special__desc h3 {
  padding-top: 16px;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #555555;
}
.special__item .special__desc p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #757575;
  padding-top: 16px;
}

.special__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}
.special__price .price-span {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #7AC751;
}
.special__price .line__span {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #ccc;
}
.special__price a {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #7AC751;
  color: #fff;
  text-decoration: none;
}
.special__price a:hover {
  opacity: 0.85;
}

.special__time {
  padding-top: 16px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.special__time li {
  background-color: #7AC751;
  border-radius: 50%;
  padding: 4px 8px;
}

.products {
  padding-top: 64px;
  padding-bottom: 64px;
}

.products__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #555555;
}

.products__nav {
  justify-content: space-evenly;
  padding-top: 48px;
}

.products__nav-item a {
  text-decoration: none;
  color: #C2C2C2;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.products__nav-item a:hover {
  color: #7AC751;
}

.products__list {
  padding-top: 48px;
  justify-content: space-between;
}

.products__item {
  position: relative;
  width: 25%;
  padding: 16px 0 32px !important;
  line-height: 1.5;
}
.products__item img {
  width: 250px;
  height: 250px;
}
.products__item h4 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(117, 117, 117, 0.71);
}
.products__item p {
  font-weight: 400;
  font-size: 20px;
  color: #555555;
  font-family: "Rubik", sans-serif;
}
.products__item .price-span {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #7AC751;
}
.products__item .line__span {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #ccc;
}

.products__new {
  position: absolute;
  top: 16px;
  left: 1px;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;
  text-align: center;
  background: #00B7F1;
  color: #fff;
  border-radius: 0px 0px 5px 0px;
}

.products__sale {
  position: absolute;
  top: 16px;
  left: 1px;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;
  text-align: center;
  background: #7AC751;
  color: #fff;
  border-radius: 0px 0px 5px 0px;
}

.products__discout {
  position: absolute;
  top: 16px;
  left: 1px;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;
  text-align: center;
  background: #ff6868;
  color: #fff;
  border-radius: 0px 0px 5px 0px;
}

.products__btn {
  margin-left: 550px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #7AC751;
  color: #fff;
  text-decoration: none;
}

.products__btn:hover {
  opacity: 0.85;
}

.articles {
  padding-top: 64px;
  padding-bottom: 64px;
}

.articles__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #555555;
}

.articles__list {
  padding-top: 36px;
  justify-content: space-between;
}

.articles__item {
  padding-top: 24px;
  width: 50%;
  position: relative;
}
.articles__item img {
  width: 530px;
}
.articles__item .articles__desc {
  position: absolute;
  bottom: 50px;
  left: 30px;
  width: 450px;
}
.articles__item .articles__desc p {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.articles__item .articles__desc p span {
  background-color: #fff;
  color: #7AC751;
  padding: 4px 8px;
  margin-right: 12px;
  text-transform: uppercase;
}
.articles__item .articles__desc h3 {
  padding-top: 16px;
  font-weight: 700;
  font-size: 39px;
  color: #fff;
  padding-bottom: 24px;
}
.articles__item .articles__desc a {
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
.articles__item .articles__desc a:hover {
  color: #7AC751;
}

footer {
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer__list {
  justify-content: space-between;
}

.footer__item {
  line-height: 1.8;
  display: flex;
  flex-direction: column;
}
.footer__item a {
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  text-decoration: none;
}
.footer__item a img {
  width: 150px;
  height: 40px;
}
.footer__item a:hover {
  color: #7AC751;
}

.footer__social {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
}
.footer__social a {
  margin-left: 24px;
}
.footer__social a img {
  width: 25px;
  height: 25px;
}
.footer__social a:nth-child(1) {
  margin-left: 0;
}

.w-320 {
  width: 320px;
}

.footer__bottom-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #555555;
  text-decoration: none;
}

.footer__bottom-item a:hover {
  color: #7AC751;
}

.footer__text a {
  padding-right: 24px;
}

.footer__text a:nth-child(3) {
  padding: 0;
}

.pb-32 {
  padding-bottom: 32px;
}

.border-top {
  border-top: 1px solid #555555;
  padding-top: 32px;
}/*# sourceMappingURL=main.css.map */