.collection {
    padding-top: 64px;
    padding-bottom: 64px;
}

.collection__top-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .collection_toptext {
        padding-left: 16px;

        h4 {
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            color: $colorTitle
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: $colorTitle;
            opacity: 0.7;
        }
    }
}

.collection__list {
    padding-top: 48px;
    justify-content: space-between;
}

.collection__item {
    width: 50%;
    position: relative;

    img {
        width: 530px;
    }

    .collection__desc {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    h3 {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: $colorTitle
    }

    p {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        padding-top: 16px;
        padding-bottom: 16px;
        color: #7AC751;
    }

    a {
        font-weight: 600;
        font-size: 14px;
        text-decoration: none;
        color: $colorTitle
    }

    a:hover {
        color: #7AC751;
    }
}

.collection__relative-in {
    position: relative;

    .collection__desc-in {
        position: absolute;
        top: 20px;
        left: 20px;
    }
}