footer {
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer__list {
    justify-content: space-between;
}

.footer__item {
    img {
        width: 150px;
        height: 40px;
        margin-bottom: 16px;
    }

    line-height: 1.8;
    display: flex;
    flex-direction: column;
}

.footer__social {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;

    img {
        margin-left: 24px;
        width: 25px;
        height: 25px;
    }

    img:nth-child(1) {
        margin-left: 0;
    }
}

.w-320 {
    width: 320px;
}

.footer__bottom-item span{
    font-weight: 400;
font-size: 14px;
line-height: 14px;
color: $colorTitle
}
.footer__text span{
    padding-right: 24px;
}
.footer__text span:nth-child(3){
    padding: 0;
}

.pb-32{
    padding-bottom: 32px;
}

.border-top{
    border-top: 1px solid $colorTitle;
    padding-top: 32px;
}