footer {
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer__list {
    justify-content: space-between;
}

.footer__item {
    line-height: 1.8;
    display: flex;
    flex-direction: column;



    a {
        font-weight: 400;
        font-size: 16px;
        color: $colorTitle;
        text-decoration: none;
        img {
            width: 150px;
            height: 40px;
        }
    }

    a:hover {
        color: $hoverNav
    }

}

.footer__social {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;

    a{
        margin-left: 24px;

        img {
            width: 25px;
            height: 25px;
        }
    }

    a:nth-child(1) {
        margin-left: 0;
    }
}

.w-320 {
    width: 320px;
}

.footer__bottom-item a {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $colorTitle;
    text-decoration: none;
}

.footer__bottom-item a:hover {
    color: $hoverNav;
}

.footer__text a {
    padding-right: 24px;
}

.footer__text a:nth-child(3) {
    padding: 0;
}

.pb-32 {
    padding-bottom: 32px;
}

.border-top {
    border-top: 1px solid $colorTitle;
    padding-top: 32px;
}